{% extends "nutrimind/layout.html" %}

{% block body %}
<section class="watereffect-container">
  <div class="watereffect">
    <h2>Nutrimind</h2>
    <h2>Nutrimind</h2>
  </div>
</section>

<section class="maindiv">
  <div class="contxt">
    <h2 class="loguser">Your Health, Our Priority!</h2>
    <p class="loguser">
      Discover a holistic approach to wellness with NutriMind. Our platform offers personalized meal plans and yoga recommendations tailored to your unique psychological needs. With NutriMind, you can embrace a healthier lifestyle that nurtures both body and mind. Start your journey toward balance and well-being today!
    </p>
    
  </div>
  <div class="Iimg">
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/doctor-is-explaining-about-brain-surgery-illustration-download-in-svg-png-gif-file-formats--human-operation-people-activity-pack-illustrations-8770837.png" 
      alt="Neuroscientist with Brain"
    />
    
  </div>
  
</section>


{% endblock %}
<!---->