{% extends "nutrimind/layout.html" %}
{% block title %}User Profile{% endblock %}

{% block body %}

    
<div class="container">
    <div class="psy-con"><h1>Your Psychological Condition:</h1></div>
    <div class="inner-con">
    {% if psychological_condition %}
    
        <h4>{{ psychological_condition.name }}</h4>
        <input type="hidden" name="psychological_condition" value="{{ psychological_condition.id }}">
    {% else %}
      <p>No psychological condition selected.</p>
    {% endif %}

    <h1>Recommendations:</h1>
    {% if recommendations %}
        <ul>
            {% for recommendation in recommendations %}
                <li>
                    <h5>Psychological Condition:</h5> {{ recommendation.psychological_condition.name }} <br>
                    <h5>Meal Plan:</h5> {{ recommendation.meal_plan }} <br>
                    <h5>Yoga Exercises:</h5> {{ recommendation.yoga_exercises }}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No recommendations available for your selected condition.</p>
    {% endif %}

    <span><button id="saveProfileButton" class="btn btn-outline-secondary btn-lg">Save Your Plan</button></span>
    </div>
</div>

<script>
    document.getElementById('saveProfileButton').addEventListener('click', async function() {
        const profileData = {
            name: "{{ user_profile.name }}",
            age: "{{ user_profile.age }}",
            weight: "{{ user_profile.weight }}",
            psychological_condition: document.querySelector('input[name="psychological_condition"]').value
        };

        const response = await fetch("{% url 'save_profile' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(profileData)
        });

        const result = await response.json();
        alert(result.message);
    });
</script>
</div>
{% endblock %}
