{% extends "nutrimind/layout.html" %}

{% block body %}
<div class="form-container">
    <div class="formbox">
    <h2>Register</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">
        </div>
        <input class="btn btn-outline-secondary btn-lg" type="submit" value="Register">
    </form>
    <br>
    <span class="textspan"> Already have an account?  </span><span> <a href="{% url 'login' %}" class="reg">Log In here.</a><span>

{% endblock %}